.App {
  margin: 10px;

  border-radius: 15px;
  background: #cccccc;
  box-shadow: inset 15px 15px 20px #8f8f8f, inset -15px -15px 20px #ffffff;

  padding: 25px;

  min-height: 97vh;

  display: flex;
}
